.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  background-color: #567cc8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 3vh;
}

.container-fluid > .row > .col {
  height: 97vh;
}

.CodeButtonCol {
  background-image: url(../Assets/Code_Background.png);
}

#LoginColumn > .container > .row {
  min-height: 50%;
}