.StoreCol{
    background-color: rgb(0, 128, 255);
}

.Store-Item {
    width: 100%;
    margin: 2px;
}

.Store-Item > .row > .col-sm-2 > img {
    width: 64px;
    height: 64px;
}

.Store-Item > .row > .col-sm-8 {
    text-align: start;
    align-self: flex-end;
    font-size: calc(1vw + 10px);
}


