.StoreCol {
    background-color: #061c07;
}

#StoreItemContainer {
    height: 90%;
}

.Store-Item {
    width: 100%;
    margin: 2px;
    word-wrap: break-word;
}

.Store-Image {
    width: 64px;
    height: 64px;
    float: left;
}

.Store-Title {
    text-align: start;
    align-self: flex-end;
    font-size: calc(1vw + 10px);
    padding-left: 20px;
}

.Store-Extra {
    text-align: end;
}

#Store-Price {
    height: 80%;
}
